* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  max-width: 1024;
  min-width: 600px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  background-color: #e6e2d4;
}

.cv {
  box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.49);
}

.about {
  padding: 1em;
  width: 35%;
  color: white;
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.header {
  margin-bottom: 20px;
}

.photo {
  margin: 20px;
}

.photo_image {
  width: 100%;
}

.contacts_text {
  text-transform: uppercase;
  font-size: 20px;
}
.underlined {
  width: 100%;
  height: 0.05rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;
}

.phone,
.skype,
.linkedin {
  display: flex;
}

ul.phone,
ul.skype,
ul.linkedin li {
  list-style-type: none;
}

.fa-phone-volume::before {
  content: "\f2a0";
  font-weight: 900;
}

.phone__icon,
.skype__icon,
.linkedIn__icon {
  margin-right: 1rem;
}

.phone,
.skype,
.linkedin {
  padding-left: 0;
}

/* .specific-link:hover {
  color: inherit;
  text-decoration: none;
}


.specific-link:visited {
  color: inherit;
  text-decoration: none;
}  */
